/* common  */
body{
    font-family: 'Poppins', sans-serif;
    background-color: #f3f1ff;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container{
    background-color: #fff;
    width: 870px;
    padding: 30px;
    margin-top: 21px;
    border-radius: 5px;
}




/*--------- top-pleyers Section ---------------*/
.top-pleyers{
    margin-bottom: 30px;
}
.section-title{
    color: #562eff;
    font-size: 24px;
    font-weight: 500;
    margin-top: 3px;

}
.palyers{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-row-gap: 30px;
}
.player{
    display: flex;
}
.player img{
    width: 50px;
    height: 50px;
    border: 2px dotted red;
    border-radius: 50px;
}
.player-info{
    margin-left: 15px;
}
hr{
    border: 1px solid #858585;
    margin-bottom: 27px;
}



/* Top Blog start */
.blogs{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-row-gap: 20px;
    grid-column-gap: 10px;
}
.blog{
    display: flex;
    justify-content: center;
    align-items: center;
}
.thumbnil img{
    width: 177px;
    height: 117px;
}
.blog-info{
    margin-left: 18px;
}
.blog-title{
    font-size: 20px;

}
.blog-athor{
    font-size: 14px; 
    font-weight: 400;
    color: rgb(143, 143, 143);
}
.blog-athor a{
    text-decoration: none;
    color: rgb(134, 28, 255);
}
/* -----------------------------
        | course  Section | 
---------------------------- */
.courses{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 24px;

}
.course-banner img{
    width: 224px;
    height: 107px;
}
.course-detials h2{
    font-size: 21px;
}
.course-detials a{
    text-decoration: none;
    font-size: 14.5px;
}
.course-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.fa-star.full{
    color: #FFC014;
}
.fa-star.half{
    color: #AEAEAE;
}
.course-time{
    background: #FFE4E8;
    border-radius: 14.6913px;
    color: #FF4A60; 
    padding: 4px;  
}


